@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(236.85deg,#041832 27.26%,#3468A7 96.03%);
}

 .container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    background-color: #ECF4FF;
    color:#1C1C1C;
    border-radius: 20px;
    box-shadow:6px 6px 6px #0E1D2FDf;
    padding: 64px;
    margin-top: 100px;

}

.perfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    

}
.perfil-foto{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(30%);
    border: 8px solid white;
    
}
.titulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

   
}
.titulo h1{
    margin-top: 100px;
    text-align: center;
   
}

.titulo h3{
    text-align: center;
    font-weight:400;
    font-size:26px ;
}
.tema button{
 align-self: flex-end;
 font-size: 18px;
 font-weight: 400;
 padding: 8px 16px;
 background: #ecf4ff;
 border-radius: 100px;
}
.projetos{
   display: block;
   margin-left: auto;
   margin-right: auto;
   background: linear-gradient(230.65deg,#499CFE 27.49%,#9CC8FC 83.19%);
   margin-top: 32px;
   padding: 32px;
   box-shadow: 2px 2px 4px rgba(16,16,16, 0.42);
   border-radius: 20px;
}
.projetos-titulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    font-weight: 700;
    font-size: 36px;
   
}
.projeto-items{
display: block;
   margin-left: auto;
   margin-right: auto;
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
.projeto-items a{
    color: #1C1C1C;
    text-decoration: none;

}
.dark{
    background:linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}
.dark .container{
    background:#333439;
    color: #f6f6f6;
}
.dark .tema button{
    background: #1C1C1C;
    color: #ffffff;
    border: 2px solid #f7f7f7f7;
}
.rede{
    background-color: #3468A7;
    color: #ECF4FF;
}
.botao_compartilhar button{
    display: block;
    margin-left: auto;
    margin-right: auto;
align-self: flex-end;
 font-size: 18px;
 font-weight: 400;
 padding: 8px 16px;
 background: #ecf4ff;
 border-radius: 100px;
 border-radius: None;
 margin-top: 10px;
 list-style: none;
}